*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
}

/* #############################################  S E C T I O N 1  ############################################################# */
/*                                                     HOME                                                                      */
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0) ;
}
nav{
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    display: inline-block;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.5s;
    animation: slidetop 0.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;

}
nav ul li a:hover{
    color: cyan;
    transform: scale(3);
}

/* ######################################################    PORTFOLIO    ########################################################## */

.logo{
    color: rgb(255, 255, 255) ;
    font-size: 40px;
    animation: slideright 1s ease forwards;
}
.blue{
    color: cyan;
    font-size: 25px;
}
span{
    color: cyan;
}

/* #####################################################    BUTTON FOLOW    ######################################################## */

.Follow{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid cyan;
    border-radius: 30px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 2s;

}
.Follow:hover{
    background: cyan;
    color: black;
    box-shadow: 0 0 20px cyan;
}

/* ##################################################    CONTENT    #################################################################### */

.content{
    margin-left: 8% ;
    margin-top: 8%;
}
.content .img img{
    width: 530px;
    opacity: 0;
    animation: zoomin 1s ease forwards, floatimage 4s ease-in-out infinite;
    animation-delay: 1s, 3s;
    filter: drop-shadow(0px 7px 10px cyan);
    border-radius: 30%;
}
.content .text{
    width: 100%;
    line-height:65px;
    color: white;
}
.content .text h4{
    font-size: 23px;
    letter-spacing: 2px;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: 0.7s;
}
.content .text h1{
    font-size: 75px;
    letter-spacing: 1px;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 1s;
}
.content .text h3{
    font-size: 25px;
    letter-spacing: 1px;
    animation: slidetop 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
.social-media{
    margin-left: 100px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 50%;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
    margin: 30px 15px 30px 0px;
    transition: 0.5s ease-in-out;
    transition: 0.5s;
    opacity: 0;
    animation: slideleft 0.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
background: cyan;
color: black;
box-shadow: 0 0 20px cyan;
}
.cv
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid cyan;
    border-radius: 30px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    margin-left: 100px;
}
.cv:hover{
    background: cyan;
    color: black; 
    box-shadow: 0 0 20px cyan;
}
.content .img{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/*#######################################################     keyframes animation     ################################################*/
@keyframes slideright {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slidetop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slidebottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideleft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes zoomin {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatimage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}
/* #######################################################  S E C T I O N 2  ########################################################## */
/*                                                             about me                                                                 */
.ABOUTME{
    width: 80%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s ease;
}

.img2 img{
    width: 500px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 4s;
}
.text2 h2{
    color: #fff;
    font-size: 40px;
    flex-direction: column;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 4s;
}
.text2{
    color: #fff;
    font-size:20px;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 4s;
}
/* ######################################################  S E C T I O N 3  ########################################################## */

.heading{
    text-align: center;
    color: #fff;
    font-size: 50px;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 6s;
}

.projects-content{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(1fr,1fr,1fr);
    column-gap:20px;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 6s;
}
.col{
    position: relative;
}

.col img{
    width: 500px;
    border-radius: 12px;
    height: auto;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 6s;
} 

.layer{

    background: transparent;
    height: 100%;
    width: 100%;
    /* margin-left: 380px; */
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all,.40s;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 6s;
}
.layer:hover{
    background: linear-gradient(rgba(0,0,0,0.5) 0%,#00befe) ;
    
}
.layer h3{
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all,.40s;
}
.layer:hover h3{
    bottom: 52%;
    opacity: 1;
}

.layer h5{
    position: absolute;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all,.40s;
}
.layer:hover h5{
    bottom: 38%;
    opacity: 1;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(4,300px);
    align-content: space-around;
    column-gap: 30px;
    background-color: rgba(230, 3, 255, 0.429);
    width: 300px;
    margin-top: 200px;
    color: #fff;
    
}
/* ######################################################  S E C T I O N 4  ########################################################## */

.title{
    margin-top: 200px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 9s;
}
.size{
    width: 70px;
}
.all-icons{
    display: flex;
    padding: 100px;
    grid-template-columns:repeat(3,auto);
    align-items: center;
    column-gap: 30px;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 9s;
}
.icons-skills{
    background-color: rgb(0, 0, 0);
    width: 100vh;
    height: 20em;
    border-radius: 30px;
    align-items: center;
    padding: 30px;
    border: solid cyan 3px;
}
.style{
    color: #fff;
    font-weight: bold;
}
/* عرض الشاشه 600 او اقل */
@media screen and (max-width: 600px) {
   /* .content .img img{
        width: 200px;
    } */
    .logo{
        font-size: 20px;
        padding-top: 10px;
        padding-left: 5%;
    }
    nav{
        display: grid;
        gap: 3px;
        width: 100%;
        font-size:10px ;
    }
    .Follow{
        width: 12%;
        margin-left: 40px;
        margin-top: 40px;
    }
    .content .text h4{
        font-size: 13px;
    }
    .content .text h1{
        font-size: 35px;
    }
    .content .text h3{
        font-size: 15px;
    }
    .content .img img{
        padding-top: 45%;
        width: 230px;
    }
    .social-media{
        margin-left: 35px;
    }
    .social-media a{
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
    .cv{
        margin-left: 40px;
        padding: 10px 20px;
        font-size: 10px;
    }
    .ABOUTME{
        width: 100%;
        padding: 50px;
        display: grid;
        align-items: center;
        justify-content: space-around;
    }
    
    .img2 img{
        width: 300px;
    }
    .text2 h2{
        font-size: 25px;
    }
    .text2{
        color: #fff;
        font-size:10px;
        width: 80%;
    }
    .title{
        font-size: 25px;
    }
    .size{
        width: 40px;
    }
    .all-icons{
        display: block;
        padding: 100px;
        width: 80%;
    }
    .icons-skills{
        padding-top: 30px;
        background-color: rgb(0, 0, 0);
        width: 50vh;
        justify-content: center;
        height: 10em;
        border-radius: 30px;
        align-items: center;
        padding: 30px;
        border: solid cyan 3px;
    }
    .style{
        font-size: 10px;
    }
}
  /* عرض الشاشة بين 601 بكسل و 900 بكسل */
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .logo{
        font-size: 40px;
        padding-left: 2%;
    }
    nav{
        display: grid;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        font-size:18px ;
    }
    .Follow{
        font-size: 15px;
        width: 12%;
        margin-left: 40px;
        margin-top: 40px;
    }
    .content .text h4{
        font-size: 20px;
    }
    .content .text h1{
        font-size: 45px;
    }
    .content .text h3{
        font-size: 20px;
    }
    .content .img img{
        padding-top: 40%;
        width: 290px;
    }
    .social-media{
        margin-left: 8%;
    }
    .social-media a{
        width: 25px;
        height: 25px;
        font-size: 15px;
    }
    .cv{
        margin-left:8%;
        padding: 10px 20px;
        font-size: 10px;
    }
    .content{
        margin-left: 8% ;
        margin-top: 0%;
    }
 } 
 @media screen and (min-width: 900px) and (max-width: 1100px) {
    .content .img img{
        width: 400px;
        margin-top: 10%;
        margin-left: 10% ;
    } 
 }  